<h1>mBlog</h1>

<div class="row">
  <div class="large-6 columns">
    <%= render "articles/list" %>
    <%= link_to "Articles", articles_path %>
  </div>

  <div class="large-6 columns">
    <%= render "recipes/list" %>
    <%= link_to "Recipes", recipes_path %>
  </div>
</div>



